doctype 5
html
	head
		title Something went wrong
		meta(name='description', content='BSOD API made with node.js! :)')
		meta(name='author', content='GabLeRoux')
		link(rel='author', href='humans.txt')
		link(rel='stylesheet', href='/css/xp.css')
	block content