html
{
  background-color: #000080;
  font-family: "Lucida Console";
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}

html, body, .wrapper
{
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper td
{
  vertical-align: middle;
}

.xp
{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}